body {
  margin: 0;
  padding: 0;
  background-color: rgb(137, 139, 137);
}

.container {
  margin: 3rem auto;
  /* 
inline style se foloseste in html
style="width:800px; margin:0 auto;" */
  width: 800px;
  /* 
  ai definit margin mai sus, html va aplica ultima setare atribuita unui element
  margin: 0 auto; */
}
.cutie {
  margin: 1rem;
  height: 200px;
  min-width: 700px;
  display: flex;
  border-radius: 0 10px 10px 0;
  background-color: rgb(99 111 250);
}
.img-container {
  width: 200px;
  height: 200px;
}

img {
  width: auto;
  height: 100%;
  /* border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; */
}
.text {
  margin: 1rem;
  text-align: justify;
}
p {
  color: white;
}
